/* Estilos generales */
body {
    background-color: #FDEDD1;
    font-family: 'Roboto Mono', monospace; 
    margin: 0;
    padding: 0;
    position: relative;
}

header {
    background-color: #FFFFFF;
    padding: 1px;
    text-align: left;
    height: 60px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo-container {
    display: flex;
    align-items: center;
    padding-top: 0.5px;
    margin-left: 0.3cm;
}

.logo {
    height: 32px;
    margin-right: 11px;
}

.site-name {
    font-family: 'Roboto Mono', monospace; /* Aplicando tipo de texto roboto */
    font-weight: 700;
    color: #63361c;
    font-size: 20px;
    text-decoration: none; /* Elimina el subrayado del enlace */
}

/* Estilo para la navegación */
.nav-container {
    display: flex;
    gap: 5cm;
    margin-right: 2cm;
}

.nav-item {
    font-family: 'Roboto Mono', monospace;
    font-weight: 700;
    color: #63361c;
    font-size: 16px;
    position: relative;
    padding: 10px;
}

/* Panel desplegable */
.dropdown-panel {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    background-color: #FDEDD1;
    border: 1px solid #63361c;
    padding: 5px;
    z-index: 1000;
    min-width: 200px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
}

.panel-item {
    display: block;
    padding: 10px 15px;
    color: #63361c;
    text-align: left;
    cursor: pointer;
    border-top: 1px solid #63361c;
}

.panel-item:first-child {
    border-top: none;
}

.panel-item:hover {
    background-color: #63361c;
    color: #FFFFFF;
}

.nav-item:hover .dropdown-panel {
    display: block;
}

/* Estilos para el contenido principal */
main {
    padding: 20px;
    position: relative;
    height: 100vh;
}

/* Caja de información en el cuerpo de la página */
.info-box {
    background-color: #FFFFFF;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
    width: 13cm;
    height: 4cm;
    color: #63361c;
    font-family: 'Roboto Mono', monospace; /* Aplicando 'Roboto Mono' */
    position: absolute;
    bottom: 350px;
    left: 2cm;
}

.info-box h2 {
    font-weight: 700;
    font-size: 18px;
    margin-bottom: 10px;
}

.info-box p {
    font-size: 14px;
    font-weight: 400;
}

/* Botón de retroceso */
.back-button {
    display: inline-block;
    padding: 10px 20px;
    background-color: #63361c;
    color: #FFFFFF;
    text-decoration: none;
    border-radius: 5px;
    font-family: 'Roboto Mono', monospace;
    font-weight: 700;
    margin-top: 20px;
}

.back-button:hover {
    background-color: #8c4d2e;
}

/* Estilo del cursor intermitente */
.blinking-cursor {
    font-weight: 700;
    font-size: 16px;
    margin-left: 2px;
    color: #63361c;  /* Color del cursor */
    animation: blink 0.8s step-start infinite;  /* Animación de parpadeo */
}

@keyframes blink {
    50% {
        opacity: 0;  /* El cursor desaparece a mitad del ciclo */
    }
}
